@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: OratorStd;
  src: url(./assets/OratorStd.otf);
}

/* Create custom utilities */
@layer utilities {
  .clip-search {
    clip: rect(0, 0, 0, 0);
  }

  .clip-path-search {
    clip-path: inset(50%);
  }

  .recipe-key-item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .category-icon {
    font-weight: 700;
    text-decoration: none;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.035em;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .category-icon-md {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    font-size: 14px;
  }

  /* ==========================================================================
     This acts as a :not(:first-child) ▼
     ========================================================================== */

  .category-icon+.category-icon,
  .category-icon-md+.category-icon-md,
  [data-class=iconsContainer]+[data-class=iconsContainer] {
    margin-left: 14px;
  }

  /* ==========================================================================
     This acts as a :not(:first-child) ▲
     ========================================================================== */

  .popular-post-top-margin-md:not(:first-child) {
    margin-top: 32px;
  }

  .recipe-key-label {
    color: #2A2B2A;
    font-size: 16px;
    letter-spacing: .035em;
    font-weight: 400;
    text-decoration: none;
  }

  .block-link {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    text-indent: -9999em;
    z-index: 10;
  }

  .a-default {
    color: #D56638;
    text-decoration: underline;
    font-weight: 700;
    background-color: transparent;
  }

  .a-transition {
    transition: all 0.1s ease-in-out;
  }

  .circle {
    display: none;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    right: -14px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: white;
    border-radius: 50%;
  }

}

/* Set default properties */
@layer base {

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  img {
    border-style: none;
    display: block;
    max-width: 100%;
    height: auto;
  }

  h2 {
    color: #212121;
    font-family: theme('fontFamily.bakerSans');
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 16px;
    overflow-wrap: break-word;
  }

  h3 {
    color: #212121;
    font-family: theme('fontFamily.bakerSans');
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 16px;
    overflow-wrap: break-word;
  }

  h4 {
    color: #212121;
    font-family: theme('fontFamily.bakerSans');
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 16px;
    overflow-wrap: break-word;
  }
}